/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* --------------------- */
@keyframes cells-animation {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes highlight-turn {
  from {
    background-color: rgb(231, 231, 238);
  }
  to {
    background-color: rgb(176, 215, 255);
    box-shadow: 0px 0px 20px 1px rgb(176, 215, 255);

  }
}
@font-face {
  font-family: lemon;
  src: url(res/Lemon\ Tuesday.otf);
}
#content {
  display: flex;
  flex-direction: column;
  height: 99.8vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#gameboard {
  display: grid;
  height: 17rem;
  width: 17rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
  grid-template-rows: repeat(1, 1fr);
  font-size: xx-large;
  gap: 5px;
}
.cell {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(236, 236, 236, 0.427);
  border-radius: 9px;
  box-shadow: 5px 5px 6px rgba(117, 103, 103, 0.342);
  font-family: lemon;
}
.cell:hover {
  cursor: default;
  transition: 0.5s;
  background-color: rgba(250, 235, 215, 0.566);
  transform: scale(1.05);
}
.animation {
  animation: cells-animation 0.3s;
}
form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 2rem;
  box-shadow: 5px 4px 5px rgba(117, 103, 103, 0.342);
  gap: 1rem;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
  width: 50%;
  height: 50%;
  text-align: center;
  background-color: white;
}
form div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#mid {
  display: flex;
  align-items: center;
}
#backdrop2 {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.01);
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}
#winnerCard {
    position:relative;
  width: 100%;
  height: 5rem;
  background-color: rgba(128, 128, 128, 0);
  font-size: 4rem;
  bottom:35%;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  text-decoration:black 1px solid;
  text-shadow:  0 2px 0 black;
  color: rgba(61, 158, 255, 0.443);
}
#winnerCard:hover {
  cursor: default;
}
#score {
  letter-spacing: 5px;
  font-size: x-large;
  font-weight: 900;
}
#gamemode,
button {
  background-color: rgba(213, 211, 191, 0.338);
  align-self: center;
  padding: 1rem;
  border-radius: 1rem;
}
#gamemode:hover,
button:hover {
  cursor: pointer;
  transition: 0.6s;
  transform: scale(1.1);
  background-color: burlywood;
  box-shadow: 5px 5px 6px rgba(117, 103, 103, 0.342);
}
.unhover {
  transition: 0.6s;
  transform: scale(1);
}
#backdrop1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(176, 215, 255);
}
#title {
  font-size: 3rem;
}
button {
  border: none;
}
.name {
  background-color: rgb(231, 231, 238);
  padding: 0.5rem;
  border-radius: 20px;
  width: 4rem;
  text-align: center;
}
